.ant-btn.primary {
    background-color: $COLOR-SECONDARY;
    color: $COLOR-WHITE;
    border-radius: 5px;
    outline: none;
    border: none;
    &[disabled] {
        opacity: $DISABLED-OPACITY;
        &:hover {
            opacity: $DISABLED-OPACITY;
        }
        &:active {
            opacity: $DISABLED-OPACITY;
        }
    }
    &:hover {
        opacity: $HOVER-OPACITY;
        border: none;
    }
    &:active {
        opacity: $ACTIVE-OPACITY;
        border: none;
    }
}
