@import "./reset.scss";
@import "~antd/dist/antd.css";
@import "./variables.scss";
@import "./button.scss";
@import "./layout.scss";

html {
    overflow: auto;
}
#root,
body,
html {
    height: 100%;
    width: 100%;
    color: $COLOR-PRIMARY;
}
li {
    list-style: none;
}
#app {
    position: relative;
    background: $BG-COLOR-PRIMARY;
    min-height: 100vh;
}

// antd reset
//app common parts　TODO 別ファイルに分ける
.app-header {
    .ant-layout-header {
        padding: 0 20px;
        color: $COLOR-WHITE;
        background: $BG-COLOR-PRIMARY-GRADIENT;
    }
    .ant-typography {
        color: inherit;
        margin: 0;
        padding: 0;
    }
}
.app-footer {
    .ant-layout-footer {
        background: $BG-COLOR-PRIMARY-GRADIENT;
        color: $COLOR-WHITE;
        padding: 0 20px;
    }
    .ant-typography {
        color: inherit;
        margin: 0;
    }
}
//Header
.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9000;
    transition: all ease 0.3s;
    &.hide {
        transform: translateY(-100%);
    }
    .ant-layout-header {
        color: $COLOR-WHITE;
        background: $BG-COLOR-PRIMARY-GRADIENT;
        padding: 0 20px;
        .ant-row {
            height: 100%;
        }
        .ant-typography {
            color: inherit;
            margin: 0;
            &.title-logo {
                cursor: pointer;
            }
        }
    }
}
//Footer
.footer {
    .ant-layout-footer {
        color: $COLOR-WHITE;
        background: $BG-COLOR-PRIMARY-GRADIENT;
        padding: 0 20px;
        .ant-typography {
            color: inherit;
            margin: 0;
        }
    }
}

// top page　TODO 別ファイルに分ける
.top-page {
    .ant-typography {
        color: inherit;
    }
    .how-to-keep-section {
        padding: 40px 20px;
    }
    .input-section {
        padding: 40px 20px;
        color: $COLOR-PRIMARY;
        .input-resourse-list {
            // max-width: 500px;
            & > *:not(:first-child) {
                margin-top: 8px;
            }
        }
        .input-resourse-item {
            transition: all ease $TRANSITION-DURATION-BASE;
            &:hover {
                opacity: $HOVER-OPACITY;
                transform: translateY(-4px);
            }
            &:active {
                opacity: $ACTIVE-OPACITY;
                transform: translateY(0);
            }
            // OVERRIDE antd
            .ant-card {
                cursor: pointer;
                min-height: 200px;
                color: $COLOR-WHITE;
                background: $BG-COLOR-PRIMARY-GRADIENT;
                border-radius: 5px;
            }
        }
    }
    .output-section {
        padding: 40px 20px;
    }
    .rss-introduction-section {
        padding: 40px 20px;
    }
}
// login page TODO 別ファイルに分ける
.login-page {
    .login-panel {
        height: 100%;
        &__content {
            background: $BG-COLOR-PRIMARY-GRADIENT;
            color: $COLOR-WHITE;
            padding: 30px;
            border-radius: 5px;
            .ant-typography {
                color: inherit;
                padding: 0;
                margin: 0;
            }
            *:not(:first-child) {
                margin-top: 10px;
            }
        }
    }
}
