$COLOR-PRIMARY: #261e47;
$COLOR-SECONDARY: #463366;
$COLOR-TERTIARY: #cabae2;
$COLOR-WHITE: #fffffe;
$COLOR-DARK: #2c3843;

$BG-COLOR-PRIMARY: #eaecef;

$TRANSITION-DURATION-BASE: 0.4s;

$HOVER-OPACITY: 0.8;
$ACTIVE-OPACITY: 1;

$DISABLED-OPACITY: 0.4;
